html, body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}
section {
	min-height: 400px;
	padding-top: 100px;
}
.nav-bar ul {
opacity: 0;
}
.parallax {
	width: 100%;
	height: 600px;
	margin-top: -90px;
	background-image:url(../img/parallax/mobile/background.jpg); 
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	z-index: 1;
}
.logo {
	opacity: 0;
}

.history {
	background-color: #000d11;
	color: #acacac;
}
.history-title {
	opacity: 0;
	transform: translate(0, -40px);
	transition: 1s;
}
.history-title.load {
	opacity: 1;
	transform: translate(0, 0);
}
.history-title h5 {
	color: #293d7d;
}
.history-title h2 {
	color: #fff;
	font-weight: 300;
	margin-bottom: 35px;
}
.history-content {
	font-size: 15px;
}
.content-left {
	opacity: 0;
	transform: translate(-20px, 0);
	transition: 1s;
}
.content-left.load {
	opacity: 1;
	transform: translate(0, 0);
}
.content-right {
	opacity: 0;
	transform: translate(20px, 0);
	transition: 1s;
}
.content-right.load {
	opacity: 1;
	transform: translate(0, 0);
}

.agenda {
	background-color: #000d11;
}
.agenda .agenda-1 img {
	margin-bottom: 40px;
}
.agenda .poster-agenda {
	opacity: 0;
	transform: translate(0, -40px);
	transition: 1s;
}
.agenda .poster-agenda.load {
	opacity: 1;
	transform: translate(0, 0);
	transform: scale(1);
}
.agenda .poster-agenda.load:hover {
	transform: scale(1.2);
}


.lightbox {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,.8);
	padding: 10px;
	z-index: 40;
	opacity: 0;
	animation: fadeIn .5s forwards;
}
.lb-content {
	opacity: 0;
	animation: fadeIn .5s forwards;
}
.lb-text {
	color: #fff;
	padding: 20px;
	font-size: 12px;
	text-align: center;
}
.pict-1 , .pict-2 {
	width: 280px;
}
.pict-3 {
	width: 220px;
}
.about {
	background-color: #000d11;
	color: #fff;
}
.about p {
	font-size: 15px;
	opacity: 0;
	transform: translate(0, 40px);
	transition: 1s;
}
.about p.load {
	opacity: 1;
	transform: translate(0, 0);
}
.about .ig-logo {
	opacity: 0;
	transform: scale(0);
	transition: 1s;
}
.about .ig-logo.load {
	opacity: 1;
	transform: scale(.5);
}
.about .ig-logo.load:hover {
	transform: scale(.8);
}
.partner {
	background-color: #000d11;
	min-height: 0;
}
.partner-content {
	margin-bottom: 20px;
	filter: grayscale(1);
	opacity: 0.8;
}

.footer {
	background-color: #000d11;
	padding: 20px;
}
.footer span {
	color: #fff;
}
.footer img {
	width: 20px;
}

/* DEKSTOP VERSION */
@media (min-width: 992px) {
	.nav-bar ul {
		opacity: 1;
		background-color: teal;
		overflow: hidden;
		margin-bottom: 0;
	}
	.nav-bar li {
		display: inline;
		margin-right: 4em;
		float: right;
	}
	.nav-bar li a {
		text-decoration: none;
		color: #fff;
		font-weight: 500;
		text-shadow: 1px 1px #000;
	}
		.parallax {
		width: 100%;
		height: 900px;
		margin-top: 0;
		background-image:url(../img/parallax/sky.jpg); 
		background-size: cover;
		background-attachment: fixed;
		background-repeat: no-repeat;
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
	.parallax .layer-1 {
		width: 100%;
		height: 100%;
		background-image: url(../img/parallax/gunung.png);
		position: absolute;
		z-index: 2;
	}
	.parallax .layer-2 {
		width: 100%;
		height: 100%;
		background-image: url(../img/parallax/pohon.png);
		position: absolute;
		z-index: 3;
	}
	.parallax .layer-3 {
		width: 100%;
		height: 100%;
		background-image: url(../img/parallax/semak.png);
		position: absolute;
		z-index: 4;
	}
	.parallax .layer-4 {
		width: 100%;
		height: 100%;
		background-image: url(../img/parallax/hutan.png);
		position: absolute;
		z-index: 6;
	}
	.logo {
	opacity: 1;
	color: #fff;
	margin-top: 4em;
	position: relative;
	z-index: 5;
	}
	.history-title h5 {
		font-size: 25px;
	}
	.history-title h2 {
		font-size: 35px;
	}
	.history-content {
		font-size: 18px;
	}

	.lightbox {
		padding: 100px;
	}
	.lb-text {
		font-size: 20px;
		text-align: left;
	}
	.lightbox img {
		width: 100%;
	}
}




@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100;
	}
}